.email {
  font-family: "Montserrat";
  text-align: center;
  text-size: 20px;
}

h1 {
  font-family: "Montserrat";
  text-align: center;
  text-size: 30px;
}

header {
  font-family: "Montserrat";
  text-align: center;
  text-size: 40px;
}
