h1 {
	text-size: 50px;
	font-family: "Montserrat";
	text-align: center;
}

header {
	text-size: 30px;
	font-family: "Montserrat";
	text-align: center;
}

p {
	font-family: "Montserrat";
}

.email {
	text-align: center;
	text-size: 30px;
	font-family: "Montserrat";
}

body {
	background-color: #D4D23D;
}
