h1 {
	text-size: 30px;
	font-family: "Montserrat";
	text-align: center;
}

header {
	text-size: 50px;
	font-family: "Montserrat";
	text-align: center;
}

p {
	font-family: "Montserrat";
}

birthdayhat {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
